<div class="container">
  <h1>Teacher Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="teacher.name" name="name" type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input [(ngModel)]="teacher.surname" name="surname" type="text" class="form-control" id="surname">
    </div>
    <div class="form-group">
      <label for="midlleName">Middle Name</label>
      <input [(ngModel)]="teacher.middleName" name="middleName" type="text" class="form-control" id="midlleName">
    </div>
    <button type="submit" (click)="addTeacher()" class="btn btn-success">Submit</button>

  </form>
</div>
