td:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
}

.subject {
  background-color: cyan;
}

.denominatorClass {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  border-radius: 4px;
}

.nominatorClass {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #4bffa5;
  border-radius: 4px;
}
