<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">8:00</th>
    <th scope="col">9:30</th>
    <th scope="col">11:00</th>
    <th scope="col">12:30</th>
    <th scope="col">14:00</th>
    <th scope="col">15:30</th>
    <th scope="col">17:00</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Понедельник</th>
    <td>Математика</td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Вторник</th>
    <td>Математика</td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Среда</th>
    <td>Математика</td>
    <td></td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td>Обработка картин</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Четверг</th>
    <td></td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Пятница</th>
    <td>Математика</td>
    <td></td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">Суббота</th>
    <td>Математика</td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  </tbody>
</table>
