<div class="container">
  <div class="list-group">
    <label>Добавить</label>
    <a class="list-group-item" routerLink="/add/teacher">Учителя</a>
    <a class="list-group-item">Студента</a>
    <a class="list-group-item">Кабинет</a>
    <a class="list-group-item">Предмет</a>
    <a class="list-group-item">Пользователя</a>
    <a class="list-group-item">Семестр</a>
  </div>
  <div class="list-group">
    <label>Изменить/Удалить</label>
    <a class="list-group-item">Учителя</a>
    <a class="list-group-item">Студента</a>
    <a class="list-group-item">Кабинет</a>
    <a class="list-group-item">Предмет</a>
    <a class="list-group-item">Пользователя</a>
    <a class="list-group-item">Семестр</a>
  </div>
</div>
