<div class="container">
  <h2>Изменение данных</h2>
  <p>Выберите данные и нажмите сохранить чтобы внести в базу данных:</p>
  <form>
    <div class="form-group">
      <label for="subjects">Предмет</label>
      <select *ngIf="lesson" class="form-control" id="subjects" [(ngModel)]="lesson.subject" name="selectedSubject"
              (click)="onClick()" required>
        <option *ngFor="let subject of subjects" [ngValue]="subject"
                [selected]="subject.id === lesson.subject.id"> {{subject.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="rooms">Кабинет</label>
      <select multiple class="form-control" id="rooms">
        <option *ngFor="let room of rooms" [ngValue]="room">{{room.name}}</option>
      </select>
      <p>Зажмите ctrl чтобы выбрать несколько кабинетов</p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>
