<nav>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Деканат</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Домой</a></li>
          <li><a routerLink="/journal">Журнал</a></li>
          <li><a routerLink="/timetable">Расписание</a></li>
          <li><a routerLink="/admin">Администрирование</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

