<div class="container">

  <div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <article>Учебный процесс
      Обучение на КГФИ длится 4 года, и завершается международно-признанной степенью бакалавра информатики (BSc.).
      Основными направлениями обучения являются разработка программного обеспечения,
      администрация компьютерных систем и сетей, программирование в Андроид, операционные и коммуникационные системы,
      логика и.т.п. Здесь уделяется особое внимание обучению немецкому языку, т.к. студенты имеют возможность
      продолжить обучение информатике в Германии и выпускники могут трудоустроиться на фирмах как местного так и
      европейского рынков труда. Студенты изучают так же технический английский, для того чтобы уметь общаться на
      английском языке на специализированные темы по информатике. Введен один практический семестр в учебный процесс,
      где студенты целый семестр проходят практику на фирмах,
      где могут продолжить работу темы практики в боле комплексные дипломные проекты бакалавра. </article>
    <p class="lead">
      <a class="btn btn-primary btn-lg" role="button" (click)="log('kldsjf')">Learn more</a>
    </p>
  </div>
</div>
