<div class="flex-container">
  <select [disabled]="!isMarkEditable(0)" class="form-control" (change)="onMarkChange($event.target.value,0)">
    <option disabled selected value>выберите оценку</option>
    <option *ngFor="let m of availableMarks" [selected]="mark.marks[0]==m" value="{{m}}">{{m}}</option>
  </select>
  <ng-container *ngFor="let index of maxExamFailsArray">
    <select [disabled]="!isMarkEditable(index)" class="form-control"
            *ngIf="mark.marks[index-1]<minMarkToPassExam"
            (change)="onMarkChange($event.target.value,index)">
      <option disabled selected value>Choose a mark</option>
      <option *ngFor="let m of availableMarks" [selected]="mark.marks[index]==m" value="{{m}}">{{m}}</option>
    </select>
  </ng-container>
</div>
