<div class="flex-container">
    <select class="form-control" (change)="onMarkChange($event.target.value,0)">
      <option *ngFor="let m of availableMarks" [selected]="mark.marks[0]==m" value="{{m}}">{{m}}</option>
    </select>
    <ng-container *ngFor="let index of maxExamFailsArray">
      <select class="form-control" *ngIf="mark.marks[index-1]<minMarkToPassExam"
              (change)="onMarkChange($event.target.value,index)">
        <option *ngFor="let m of availableMarks" [selected]="mark.marks[index]==m" value="{{m}}">{{m}}</option>
      </select>
    </ng-container>
</div>
