<h3>{{weekday}}</h3>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">8:00</th>
    <th scope="col">9:30</th>
    <th scope="col">11:00</th>
    <th scope="col">12:30</th>
    <th scope="col">14:00</th>
    <th scope="col">15:30</th>
    <th scope="col">17:00</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">ИГ-1-15</th>
    <td>Математика <span class="badge">404</span></td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">ИГ-2-15</th>
    <td>Математика</td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">ИГ-1-14</th>
    <td>Математика</td>
    <td></td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td>Обработка картин</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">ИГ-1-16</th>
    <td></td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">ИГ-2-16</th>
    <td>Математика</td>
    <td></td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">ИГ-3-16</th>
    <td>Математика</td>
    <td>Информатика</td>
    <td>Немецкий</td>
    <td>Английский</td>
    <td></td>
  </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
